<IfModule mod_rewrite.c>
RewriteEngine on
RewriteBase /
RewriteRule ([a-z]{1})([0-9]{2}\.[j][p][g]) http://img.test.local/goods/$1/$2 [R=301,L]
</IfModule>

ErrorDocument 404 /err_404.html

Options -ExecCGI
AddHandler cgi-script .php

